/* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
/* Different CSS file for transitions to keep things somewhat clean */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
     }
}

@keyframes slideIn {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@keyframes diagonalSlide {
    0% { 
        transform: translate(0, 0);
    }
    100% {
        /* (x positive = right, y positive = down) */
        transform: translate(60rem, -20rem);
    }
}